<div class="face-snap-card" [ngClass]="{ snapped : buttonText === 'UnSnap ?'}">

<!-- Ici je rajoute la directive ng class => entre croched je met la class à ajouter + la condition d'ajout -->
    <h2>{{ faceSnap.title | titlecase }}</h2>

    <!--  | = Pipes, permet de transformer la valeur sans toucher à sa valeur
    | uppercase = Met le text en majuscule
    | lowercase = Met le text en minuscule
    | Title case = Met la premiere lettre en maj et le reste en miniscule -->

    <p>Mis en ligne le {{ faceSnap.createdDate }}</p>

    <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title">

    <p>{{ faceSnap.description }}</p>

    <!--  Il a deux condition = la premier est s'il y a facesnap. localisation -->
    <!-- Ici j'ai mis la condition si facesnap location est okinawa -->

    <p *ngIf="faceSnap.location === 'Okinawa'"> Photo prise à {{ faceSnap.location }}</p>

    <!--  Je vais crée un span pour rendre dynamique avec du style mon faceSnap.snaps
    J'ajoute la directive ng style -->
    <!-- directive structurelle est avec un * et directive attribut avec des [] -->

    <p> <button (click)="onSnap()">{{ buttonText }}</button><span [ngStyle]="{ color: 'rgb(0, ' + faceSnap.snaps + ', 0)' }">🤌 {{ faceSnap.snaps }}</span> </p>
  </div>
