<div class="face-snap-card" [ngClass]="{ snapped : buttonText === 'UnSnap ?'}">
    <h2>{{ faceSnap.title | titlecase }}</h2>
<a routerLink="/facesnaps">Go-back</a>
    <p>Mis en ligne {{ faceSnap.createdDate | date :'le d MMMM YYYY à HH:mm'}}</p>
    <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title">
    <p>{{ faceSnap.description }}</p>
    <p *ngIf="faceSnap.location === 'Okinawa'"> Photo prise à {{ faceSnap.location }}</p>
    <p> <button (click)="onSnap()">{{ buttonText }}</button><span [ngStyle]="{ color: 'rgb(0, ' + faceSnap.snaps + ', 0)' }">🤌 {{ faceSnap.snaps }}</span> </p>
    <p>{{ 4586584.844 | number : '1.0-1'}}</p> 
    <p>{{ 0.336 | percent }}</p> 
    <p>{{ 344.36 | currency: 'EUR' }}</p>
</div>
