<app-header></app-header>
<router-outlet></router-outlet> 
<!-- Ici c'est la route- racine, 
    dans le local host faire /faceSnap pour accèder au face -->



<!-- <app-face-snap *ngFor="let faceSnapElementOfArray of faceSnap"
 [faceSnap]="faceSnapElementOfArray"></app-face-snap> -->

<!--  Exemple du dessus pour comprendre le code 
     Cela veux dire littéralement : 
     Pour chaque element du tablau facesnap, 
    je genere un component facesnap ( y en a 3 donc 3)
Je lui associe l'élément qui lui correspont ( pense au length 0, 1, 2)
ngFor va permettre la création des app selon le nombre d'objet dans le tableau ( y en a 3 ) -->
